/* global */

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,*::before,*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    color: #b6b6b6;
    line-height: 30px;
    font-size: 15px;
    
}

::selection {
    background: #64bd00;
}

/* NAVBAR */
.h1{
    z-index: 1024;
    position: fixed;
    left: 10px;
    top:10px;
}

.h1 button{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    padding: 5px 0 0;
    border: none;
    background-color: #64bd00;
}

.h1 button span{
    height: 2px;
    width: 26px;
    background: #ffffff;
    display: block;
    margin: 0 auto 6px;
}

aside{
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    background-color: #2e3135;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 100vh;
    z-index: 1024;
}

.offcanvas-lg.offcanvas-start{
    width: 300px;
}

.a1{
    flex-direction: column;
}

.nav{
    width: 300px;
    height: inherit;   
}

.nav-menu{
    padding: 30px 0 0 0;
}

.nav-menu *{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu>ul>li{
    position: relative;
    white-space: nowrap;
}

.nav1 a{
    display: flex;
    align-items: center;
    color: #fafafa !important;
    padding: 12px 53px;
    margin-bottom: 8px;
    font-size: 21px;
    text-transform: uppercase;
}

.nav1 a i{
    font-size: 25px;
}

.nav1 li a:hover{
    color: #64bd00 !important;
}

.nav1 .active{
    color: #64bd00 !important;
}

/* main */

main{
    padding-left: 300px;
}

/* S1 */

.s1{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79)), url("./Images/backgd.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center  ;
    position: relative;
    min-height: 100vh;
    padding: 60px 0;
    align-items: center;
}

.s1d{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.s1dr{
    position: relative;
    z-index: 99;
    
}

.d1{
    display: flex;
    justify-content: end;
}

.d2{
    display: flex;
    flex-direction: column;
}

.d12 img{
    max-width: 300px;
    margin: 0 auto !important   ;
    border-radius: 50%;
    border: 10px solid rgba(255,255,255,0.1);
}

.d2p{
    color: #e5e5e5;
    font-size: 2.0rem;
    text-transform: uppercase;
}

.d2p span{
    color: #64bd00;
}

.d2p {
    text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}

@keyframes typing {
    0.0000%, 27.3488% { content: ""; }
    1.1395%, 26.2093% { content: "s"; }
    2.2791%, 25.0698% { content: "sr"; }
    3.4186%, 23.9302% { content: "sree"; }
    4.5581%, 22.7907% { content: "sreeh"; }
    5.6977%, 21.6512% { content: "sreeha"; }
    6.8372%, 20.5116% { content: "sreehar"; }
    7.9767%, 19.3721% { content: "sreehari"; }
    9.1163%, 18.2326% { content: "sreehari T"; }
    10.2558%, 17.0930% { content: "sreehari T K"; }
  
    30.7674%, 55.2791% { content: ""; }
    31.9070%, 54.1395% { content: "a"; }
    33.0465%, 53.0000% { content: "a d"; }
    34.1860%, 51.8605% { content: "a de"; }
    35.3256%, 50.7209% { content: "a des"; }
    36.4651%, 49.5814% { content: "a desi"; }
    37.6047%, 48.4419% { content: "a desig"; }
    38.7441%, 47.3027% { content: "a design"; }
    39.8838%, 46.1635% { content: "a designe"; }
    40.9232%, 45.0243% { content: "a designer"; }

    64.6977%, 93.2093% { content: ""; }
    65.8372%, 92.0698% { content: "a"; }
    66.9767%, 90.9302% { content: "a d"; }
    68.1163%, 89.7907% { content: "a de"; }
    69.2558%, 88.6512% { content: "a dev"; }
    70.3953%, 87.5116% { content: "a deve"; }
    71.5349%, 86.3721% { content: "a devel"; }
    72.6744%, 85.2326% { content: "a develo"; }
    73.8139%, 84.0931% { content: "a develop"; }
    74.9534%, 82.9536% { content: "a develope"; }
    76.0929%, 81.8141% { content: "a developer"; }
  
    /* 78.6279%, 96.8605% { content: ""; }
    79.7674%, 95.7209% { content: "h"; }
    80.9070%, 94.5814% { content: "hu"; }
    82.0465%, 93.4419% { content: "hum"; }
    83.1860%, 92.3023% { content: "huma"; }
    84.3256%, 91.1628% { content: "human"; } */
}
  
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
  
.typewriter {
    --caret: currentcolor;
}
  
.typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
}
  
.typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
}
  
.typewriter.thick::after {
    border-right: 1ch solid var(--caret);
}
  
.typewriter.nocaret::after {
    border-right: 0;
}
  
  
@media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
}
    
@keyframes sequencePopup {
      0%, 100% { content: "sreehari T K"; }
      50% { content: "a designer"; }
      100% { content: "a developer"; }
      /* 75% { content: "human"; } */
}
  
.typewriter::before {
      content: "sreehari T K";
      animation: sequencePopup 12s linear infinite;
    }
}

.d2 p{
    color: #ffffff;
    max-width: 450px;
    letter-spacing: 0.2px;
}

.slinks a{
    color: #ffffff;
    font-size: 30px;
    margin: 0 20px 20px 0;
}

.d2b a span{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

.d2b .grn{
    background-color: #64bd00;
    border: #64bd00;
}

.d2b .grn:hover{
    background-color: #325c02;
}

/* ---------------S2------------------------ */

.s2{
    background-color: #2e3135;
    border-left: 2px solid rgb(24, 23, 23);
}

.s2h{
    color: #ffffff;
    font-weight: 900;
}

.s2h span{
    color: #64bd00;
}

.s2rh{
    color: #fafafa;
}

.s2rh span{
    color: #64bd00;
}

.s2rp{
    color:#ffffff;
    max-width: 800px;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.progress-bar{
    background-color: #64bd00  !important;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

/* ----------S3------------------- */
.s3{
    background-color: #26282b;
    border-left: 2px solid rgb(24, 23, 23);
}

.s3h{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
}

.s3h span{
    color: #64bd00;
}

.p1{
    justify-content: center;
}

.p1 h2{
    color: #64bd00;
}

.p1 ul{
    max-width: 450px;
}

.p1 h4{
    color:#ffffff;
    max-width: 700px;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.p1 ul li{
    background-color: #26282b;
    color: #fafafa;
    /* background: linear-gradient(to left, #00C853, #B2FF59);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;  */
    padding-left: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px !important;
    border-image:  linear-gradient(to left, #00C853, #B2FF59)1;
}

.p2{
    justify-content: center;
}

.p2 h2{
    color: #64bd00;
}

.p2 h4{
    color:#ffffff;
    max-width: 800px;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.p2 ul li{
    background-color: #26282b;
    color: #fafafa;
    /* background: linear-gradient(to left, #00C853, #B2FF59);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;  */
    padding-left: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px !important;
    border-image:  linear-gradient(to left, #00C853, #B2FF59)1;
}

/* --------------------S4------------------------ */
.s4{
    background-color: #2e3135;
    border-left: 2px solid rgb(24, 23, 23);
}

.sh4{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
}

.sh4 span{
    color: #64bd00;
}

.w1 h2{
    color: #64bd00;
}

.w1 h3,p,time{
    color: #ffffff;
}

.w1 ul{
    max-width: 350px;
}

.w1 ul li{
    background-color: #2e3135;
    background: linear-gradient(to left, #00C853, #B2FF59);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    padding-left: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px !important;
    border-image:  linear-gradient(to left, #00C853, #B2FF59)1;
}

/* .w2{
    border-top-style: solid;
    border-top-width: 5px;
    border-image:linear-gradient( 91deg,  rgba(72,154,78,1) 5.2%, rgba(251,206,70,1) 95.9% )1;
} */

.w-splicer{
    content: "";
    border: solid 5px;
    border-image:linear-gradient( 91deg,  rgba(72,154,78,1) 5.2%, rgba(251,206,70,1) 95.9% )1;
}

.w2 h2{
    color: #64bd00;
}

.w2 h3,p,time{
    color: #ffffff;
}

.w2 ul li{
    background-color: #2e3135;
    background: linear-gradient(to left, #00C853, #B2FF59);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    padding-left: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px !important;
    border-image:  linear-gradient(to left, #00C853, #B2FF59)1;
}

/* -----------------------------S5----------------------- */

.s5{
    background-color: #26282b;
    border-left: 2px solid rgb(24, 23, 23);
}

.s5h{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
}

.s5h span{
    color: #64bd00;
}

.education-menu{
    border-left: 2px solid #424242;
}

.education-items{
    position: relative;
    box-shadow: 2px 0px 0px 1px #424242;
    border-radius: 4px;
    border-left: 3px solid #64bd00;
    transition: 0.6s;
}

.education-items:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(106, 105, 105, 0.25);
}

.education-items .round{
    content: "";
    left: -37px;
    display: block;
    position: absolute;
    background: #2e3135;
    border: 2px solid;
    border-color: #64bd00;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.education-items:hover .round{
    background-color: #64bd00;
}

.education-items .line{
    content: "";
    background-color: #64bd00;
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    top: 32px;
    left: -20px;
    /* z-index: -1; */
}

.education-items h2{
    color: #ffffff;
}

.education-items h2 span{
    color: #64bd00;
}

.education-icons{
    color: #ffffff;
}

/* -----------------S6----------------- */
.s6{
    background-color: #2e3135;
    border-left: 2px solid rgb(24, 23, 23);
}

.s6h{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
}

.s6h span{
    color: #64bd00;
}

.s6c{
    width: 90%;
}

.c1-items{
    border: 1px solid #424242;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
    transition: 0.5s;
}

.c1-icon{
    width: 10%;
}

.c1-icon i{
    color: #64bd00;
    font-size: 18px;
    padding: 10px;
    height: 40px;
    width: 40px;
    background-color: #26282b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s;
}

.c1-content{
    margin-left: 0.5rem;
}

.c1-content h4{
    text-transform: uppercase;
    color: #ffffff;
}

.c1-content p{
    color: #cbc5c5;
    margin-bottom: 21px;
}

.splinks a i{
    color: #cbc5c5;
    transition: 1s;
}

.c1-content p a{
    color: #cbc5c5;
}

.c1-items:hover{
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px 2px rgba(106, 105, 105, 0.25);
}

.c1-items:hover .c1-icon i{
    color: #ffffff;
    background-color: #64bd00;
    transform: scale(1.01);
}

.splinks a i:hover{
    color: #64bd00;
}

.c1-content p a:hover{
    color: #64bd00;
}


/* -----------------scroll to top--------------- */
.back-to-top a i{
    background-color: #26282b;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    box-shadow: 0 0 2px #f2f2f2;
    z-index: 999;
}

.back-to-top:hover a i{
    background-color: #64bd00;
}

/* -----------------Responsive--------------------- */

@media (max-width:991px) {
    main{
        padding-left: 0;
    }
}

@media (max-width:650px) {
    .h1 button{
        padding: 2px 0 0;
        height: 30px;
        width: 30px;
    }
    .h1 button span{
        width: 13px;
        margin: 0 auto 3px;
    }    
}

@media (max-width:575px) {
    .h1 button{
        background-color: #65bd005e ;
    }
    .h1 button span{
        color: #ffffff4f;
    }
}


/* --------------S1----------------- */
@media (max-width:1140px) {
    .d2p{
        font-size: 1.5rem;
    }
    .d12 img{
        max-width: 250px;
    }
    .grn{
        margin-left: 0 !important;
    }
}

@media (max-width:990px) {
    .d1{
        justify-content: center;
    }
    .gry{
        margin-bottom: 0 !important;
        margin-right: 10px;
    }
}

@media (max-width:473px) {
    .d2b a span{
       font-size: 13px;
    }
    .d2 p{
        font-size: 14px;
        margin-top: 10px !important;
    }
    .d2p{
        font-size: 1.4rem;
    }
}

@media (max-width:360px) {
    .gry{
        margin-bottom: 10px !important;
    }
}

/* -------------------S2------------------------- */

@media (max-width:1160px) {
    .s2rp{
        max-width: 800px;
        font-size: 13px;
    }
    .sr{
        margin-top: 20px !important;
    }
}

@media (max-width:990px) {
    .s2d1{
        width: 90% !important;
    }
    .s2d2{
        width: 100% !important;
    }
}

@media (max-width:768px){
    .s2d1{
        max-width: 600px;
    }
}

@media (max-width:490px) {
    .s2rp p{
        margin-bottom: 0 !important;
    }
}

@media (max-width:400px) {
    .s2rp p{
        letter-spacing: 0;
    }       
}

@media (max-width:990px) {
    .srd2{
        margin-top: 20px;
    }
}


/* --------------------S4--------------------- */
@media (max-width:580px) {
    .sh4d1{
        width: 100% !important;
        margin-top: 0 !important;
    }
}
@media (max-width:990px) {
    .w1 .col-lg-8{
        margin-top: 7px;
    }
}


/* -------------------S5---------------------------------- */
@media (max-width:765px) {
    .s5hd1{
        width: 100% !important;
    }
}

@media (max-width:500px) {
    .s5hd1{
        margin-top: 0 !important;
    }
}

@media (max-width:420px) {
    .education-items h2{
        font-size: 18px;
    }
    .education-icons{
        font-size: 14px;
    }
}

/* ---------------------S6------------------------------- */
@media (max-width:1330px) {
    .c1-content{
        margin-left: 1.5rem !important;
    }
}

@media (max-width:575px) {
    .c1-icon i{
        height: 30px;
        width: 30px;
        font-size: 14px;
    }
}

@media (max-width:400px) {
    .c1-items{
        padding-left: 10px !important
    }
}