/* global */
html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

/* header */

.mobile-nav-toggle{
    position: fixed;
    right: 15px;
    top: 15px;
    border: 0;
    font-size: 24px;
    background-color: #149ddd;
    color: #fff;
    width:40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    outline: none !important;
    z-index: 9998;
    transition: all 0.4s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

header{
    background-color: #021c3c;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 15px;
    z-index: 9997;
    transition: all 0.5s;
}

.h1{
    flex-direction: column;

}

.profile img{
    display: block;
    margin: 15px auto;
    width: 130px;
    border: 8px solid #20222e;
    border-radius: 70px !important;
    height: 130px;
}

.slinks a{
    transition: 0.3s;
    font-size: 23px;
    display:inline-block;
    background: #1a1c27;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 36px;
}

.slinks a i{
    text-align: center;
}

.nav-menu{
    padding: 30px 0 20px 0;
}

.nav-menu *{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu>ul>li{
    position: relative;
    white-space: nowrap;
}

.nav1 a{
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 53px;
    margin-bottom: 8px;
    font-size: 21px;
    transition: 0.3s;
}

.nav-menu a i{
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
    
}





/* Responsive */
